<div class="container-fluid">
 <div class="row background">
   <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-6 box">
            <div class="row justify-content-center">
              <div class="col-12 label" style="padding-top: 10px;color: blue;">
                <h4>CMS - Course Management System</h4>
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <input class="form-input" type="text" placeholder="Enter your name">
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <input class="form-input" type="password" placeholder="Enter your password">
              </div>
              <div class="col-12" style="margin-top: 40px; margin-bottom: 20px;">
                <button routerLink="/index">Đăng nhập</button>
              </div>
            </div>
           
          </div>
        </div>
   </div>
 </div>
</div>