<div class="container-fluid">
  <form [formGroup]="searching">
    <div class="row header">
      <div class="col-2 logo" style="cursor: pointer;" routerLink="">
        <img src="../../assets/logo1.jpg" alt="">
      </div>

      <div class="col-7 text-center search">
        <input type="text" formControlName="name">
        <button class="fa fa-search" (click)="searchByWord()"></button>
      </div>
      <div class="col-3 addcourse">
        <button routerLink="/addcourse">Add new course</button>
      </div>
    </div>
  </form>
  <div class="row content">
    <div class="col-2 sidebar">
      <div style="cursor: pointer;" class="listNameCourse" *ngFor="let nameCourse of courses">
        <span (click)="search(nameCourse.name)">{{nameCourse.name}}</span>
      </div>
    </div>
    <!-- List Course -->
    <div class="col-10 list-course" *ngIf="isList">
      <div class="row justify-content-center" style="padding-left: 20px; padding-top: 10px;">
        <div class="col-md-4 card" *ngFor="let listCourse of courses">
          <div class="row">
            <div class="col-7">
              <h5 class="card-title">{{listCourse.name}} - {{listCourse.lecturer}}</h5>
            </div>
            <div class="col-5" style="padding: 0;">
              <button class="update-btn" routerLink="/update/{{listCourse.id}}">Update</button>
            </div>
          </div>
          <p class="card-text">{{listCourse.content}}</p><br>
          <p>{{listCourse.startDate | date:'medium'}}</p><br>
          <a [class.selected]="listCourse === selectedCourse" (click)="onSelect(listCourse)">Detail</a>
          <a title="Delete" (click)="open(content,listCourse.id)" href="javascript:void(0)">Delete</a>
          <span class="enroll text-center" routerLink="/course-detail/{{listCourse.id}}">Enroll</span>
        </div>
      </div>
    </div>
    <!-- Search -->
    <div *ngIf="isSearch" class="col-10 list-course">
      <div class="row justify-content-center" style="padding-left: 20px; padding-top: 10px;">
        <div class="col-md-4 card" *ngFor="let listCourse of filter ">
          <div class="row">
            <div class="col-7">
              <h5 class="card-title">{{listCourse.name}} - {{listCourse.lecturer}}</h5>
            </div>
            <div class="col-5" style="padding: 0;">
              <button class="update-btn" routerLink="/coursedetail/{{listCourse.id}}">Update</button>
            </div>
          </div>
          <p class="card-text">{{listCourse.content}}</p><br>
          <p>{{listCourse.startDate | date:'medium'}}</p><br>
          <a [class.selected]="listCourse === selectedCourse" (click)="onSelect(listCourse)">Detail</a>
          <span class="enroll text-center">Enroll</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
  </div>
</ng-template>