<div class="container-fluid">
  <div class="row header">
    <div class="col-6 logo" style="cursor: pointer;" routerLink="">
      <img src="../../assets/logo1.jpg" alt="">
    </div>
    <div class="col-6 addcourse">
      <button routerLink="/addcourse">Add new course</button>
    </div>
  </div>
  <div class="row content">
    <div class="col-2 sidebar">
      <div class="listNameCourse" *ngFor="let nameCourse of courses">
        {{nameCourse.name}}
      </div>

    </div>
    <div class="col-10 list-course">
      <div class="row justify-content-center" style="padding-left: 20px; padding-top: 10px;">
        <div class="col-md-4 card" *ngFor="let listCourse of courses">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title">{{listCourse.name}} - {{listCourse.lecturer}}</h5>
            </div>
            <div class="col-6" style="padding: 0;">
              <button class="update-btn" routerLink="/coursedetail/{{listCourse.id}}">Update</button>
            </div>
          </div>
          <p class="card-text">{{listCourse.content}}</p><br>
          <p>{{listCourse.startDate | date:'medium'}}</p><br>
          <a [class.selected]="listCourse === selectedCourse" (click)="onSelect(listCourse)">Detail</a>
          <span class="enroll text-center">Enroll</span>
        </div>
      </div>
      <!-- <div class="popupCourseDetail" id="popupDetail" #popupDetail>
        <app-edit-course [course]="selectedCourse"></app-edit-course>
      </div> -->
    </div>
  </div>
</div>
