<p>
  detail-course works!
</p>
<div class="container-fluid">
  <div class="row header">
    <div class="col-1">
      <button type="button" class="nav-collapse" data-toggle="collapse" data-target="#demo">-</button>
    
    </div>
    <div class="col-5 logo" style="cursor: pointer;" routerLink="">
      <img src="../../assets/logo1.jpg" alt="">
    </div>
    <div class="col-6 addcourse">
      <button routerLink="/addcourse">Add new course</button>
    </div>
  </div>
  <div class="body-content" style="padding-top: 70px;">
    <div  class="row">
      <div id="demo"  class="col-2 nav-content collapse">
        <div  class="name-course" *ngFor="let course of nameCourse">
          {{course.name}}
        </div>
      </div>
      <div class="col-10 detail-course">
        <div *ngIf="course">
          {{course.name}} - {{course.lecturer}}
        </div>
      </div>
    </div>
   
  </div>
</div>
