
<div class="container-fluid">
  <div class="row header">   
    <div class="col-3 logo" style="cursor: pointer;" routerLink="">
      <img src="../../assets/logo1.jpg" alt="">
    </div>
    <div class="col-3 login">
      <button [routerLink]="['/listcourse']" routerLinkActive="router-link-active" >List Course</button>
    </div>
    <div class="col-6 login"  >
       <button  routerLink="/login"> Logout</button>
    </div> 
</div>
  <div class="row content">
    <div class="col-12 background" style="padding: 0;">
      <img src="../../assets/background.jpg" alt="">
      <div class="row label">
        <div class="col-12">
          <h1>Index Works</h1>
        </div>
        <div class="col-12">
          <h2>COURSE MANAGEMENT SYSTEM</h2>
        </div>
      </div> 
      
    </div>
  </div>
</div>
